<?xml version="1.0"?>
<launch>
    <!--  config file path  -->
    <arg name="local_map_creator_settings" default="$(find local_map_creator)/config/param/local_map_creator.yaml"/>
    <arg name="rviz_settings" default="$(find local_map_creator)/config/rviz/local_map_creator.rviz"/>

    <!--  node launch  -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_settings)" output="screen"/>
    <node name="local_map_creator" pkg="local_map_creator" type="local_map_creator" output="screen">
        <rosparam name="local_map_creator_settings" value="$(arg local_map_creator_settings)"/>
    </node>
</launch>